
footer{
    padding: 15px 10px;
    background-color: $color-nav;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    ul{
        width: 50%;
        list-style: none;
        font-weight: bolder;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.623);
            &:hover{
                color: $color-header;
            }
        }
    }
    .footerLogos{
        width: 50%;
        @extend %flex;
        flex-direction: column;
        img{
            padding: 5px;
            height: 60px;
            width: 60px;
            &:hover{
                transform: scale(1.33);
            }
        }
    }
}